.nodes{
    width:100%;
    display: flex;
    color: #ffffff;
    margin-top: 2%;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}

.nodesItem{
    
    flex: 1;
    margin: 0px 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #181818;
    font-size:20px;
    color: #ffffff;
}

.titleDashboard{
    font-size: 30px;
    font-weight: 600;
    width:100%;
    display: flex;
    color: #ffffff;
    margin-top: 2%;
    width: 80%;
    margin-left: 11%;
    margin-top: 5%;
    position: relative;
}

#greyer {
    color: #746b6b;
    margin-left: 15px;
    font-size: 20px;
    margin-top: 2%;
    width: 80%;
    margin-left: 11%;
    margin-top: 5%;
}

.nodeTitle {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.informations { 
    width: 80%;
    margin: auto;
}

.info {
    padding-left: 15px;
}