.chart{
    width:100%;
    display: flex;
    color: #ffffff;
    margin-top: 2%;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.chartItem{
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #181818;
    font-size:20px;
}
    