.sidebar {
    flex: 1;
    background-color: #15181f;
    color: white;
    height: calc(100vh - 75px);
    position: sticky;
    top: 50px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
}



.list{
    list-style: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 155px);
}

.listElem {
    font-size: 1rem;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.listElem2 {
    font-size: 1rem;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.listElem.active, .listElem:hover, .listElem2.active, .listElem2:hover {
    background-color: rgb(53, 58, 58);
    cursor: pointer;
}


@media only screen and (max-width: 1026px) {
    #sidebarDeasapear {
        display: none;
    }
}

