.topbar {
    width: 100%;
    height: 75px;
    background-color: #15181f;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    position: fixed;
}

.topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    color: #91B9CD;
    cursor: pointer;
}

.icons {
    color: white;
    padding: 10px;
}

.icons:hover {
    background-color: rgb(53, 58, 58);
    cursor: pointer;
}