.userList {
    height: 50%;
    width: 80%;
    margin-left: 10%;
    margin-top: 7%;
}

.MuiDataGrid-footerContainer, .MuiDataGrid-columnHeader, .MuiDataGrid-cell {
    background-color: #6C6F72;
}

.actions {
    margin: auto;
}