.diva { 
    margin-bottom: 35px;
    margin-top: -35px;
    line-height: 5px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}