.userList {
    height: 50%;
    width: 80%;
    margin-left: 10%;
    margin-top: 7%;
}

.acceptBtn {
    align-items: center;
    appearance: none;
    background-color: #2e2e31;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#262629 0 -3px 0 inset;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 30px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 10px;
    margin-right: 15px;

}

.declineBtn {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 30px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 10px;
}

.title {
    color: white;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 1.15rem;
}

.MuiDataGrid-main, .MuiDataGrid-footerContainer {
    color: white;
    background-color: #45505f;
}

.btns {
    float: right;
    margin-right: 10%;
}

.request {
    margin-right: 20px;
  align-items: center;
  appearance: none;
  background-color: #15181f;
  border-radius: 4px;
  border-width: 0;
  /* box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset; */
  box-sizing: border-box;
  color: #FCFCFD;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 12px;
}
.current {
    margin-right: 20px;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  /* box-shadow:  #D6D6E7  0 2px 4px,#D6D6E8 0 7px 13px -3px,rgba(45, 35, 66, 0.3) 0 -3px 0 inset; */
  box-sizing: border-box;
  color: #15181f;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 12px;
}

.request:hover, .current:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);

}

.Mui-even{
    background-color: #000000;
}

.MuiDataGrid-footerContainer{
    background-color: #15181f;

}
.Mui-odd{
    background-color: #15181f;
}
.MuiDataGrid-columnHeaderWrapper{
    background-color: #15181f;
    font-size: 1.75 rem;

}
.MuiTouchRipple-root{
    color: #ffffff;
}

.PrivateSwitchBase-input-7{
    color: #ffffff;
}
.MuiDataGrid-root{
    border: none;
}

.midle{
    background-color: #ff0000;
    color: #ff0000
}


